# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Credentials & Temp Files
*creds*.json
*.mp3
*.log
token*.json

# Build & Gradle
.gradle/
build/
bin/
.DS_Store

# Android build & IDE caches
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/local.properties
*.idea/
